$primary: #4285F4;
$secondary: #3b78db;

.cell-hidden {
  opacity: 0;
}

.component-score {
  text-align: center;

  span {
    display: block;
    font-size: 24px;
    margin-bottom: 30px;
  }

  .timer {
    font-size: 27px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 9px;
  }
}

.component-table {
  .container {
    .container-table {
      .table {
        position: relative;
        margin: 0 auto 6px;

        .cell {
          width: 20%;
          cursor: pointer;
          padding-top: 20%;
          position: relative;
          display: inline-block;
          outline: 5px solid #fff;
          background-color: $primary;
          animation: flash 450ms;

          span {
            color: #fff;
            display: block;
            font-size: 30px;
            font-weight: 700;
            user-select: none;
            text-align: center;
          }

        }

        .cell:hover {
          background: $secondary
        }

        .cell.selected {
          background: $secondary
        }

        .cell.selected:hover {
          background: $primary
        }
      }
    }
  }
}


@keyframes flash {
  0% {
    background: red;
  }
  100% {
    background-color: $primary;
  }
}
